<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="icon" href="static/favicon.ico">
    <link href="static/main.css" rel="stylesheet">
    <link href="static/UI/PerfectUI.css" rel="stylesheet">
    <link href="static/canvas/canvas.css" rel="stylesheet">

    <title>Tomo Editor</title>
  </head>
  <body>
    <div class="preloaderHolder">
       <div class="preloader"> </div>
     </div>

    <!-- Main Menu Buttons -->
    <div id="sidemenu">
      <div style="position: absolute; top: 50%; transform: translateY(-50%);">
        {% for moduleSection in moduleSections %}
          <div class="menuSection">
            {% for module in moduleSection["modules"] %}
              <div class="menuButton {% if module["action"] == false %} noneAction {% endif %}" data-id="{{ module["id"] }}" {% if module["action"] %} onclick="{{ module["action_function"] }}" {% endif %}>
                <img src="{{ module["icon_src"] }}"/>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Canvas -->
    <div id="canvasHolder">
      <div id="sketchScroll">
        <div id="sketch"></div>
      </div>
    </div>

    <!-- Windows -->
    {% for module in moduleSections[1]["modules"] %}
         <div id="{{ module["id"] }}" class="window" style="{{ module["defaultX"] }} {{ module["defaultY"] }}">
           <div class="window_inside">
             <iframe id="{{ module["id"] }}_iframe" src="{{ module["page_src"] }}"></iframe>
           </div>
         </div>
    {% endfor %}

    <div id="outerside"></div>

    <div id="dev-build"> Developer Build - 2.2.0 </div>

    <!-- <div id="quote">"Headphones are like wine."<br><span style="float:right; font-size:20px;">-Wise Man</span></div>
    <div id="quote"><img src="{{ url_for('static', filename='images/logo3.png') }}" style="width: 100px;"/></span></div>-->

    <script src="static/jquery-1.12.4.js"></script>
    <script src="static/jquery-ui.js"></script>
    <script src="static/main.js"></script>
    <script src="static/UI/PerfectUI.js"></script>
    <script src="static/image/image.js"></script>
    <script src="static/save/save.js"></script>
    <script src="static/new/new.js"></script>
    <script src="static/open/open.js"></script>
    <script src="static/resize/resize.js"></script>
    <script src="static/brushes/aoBrush.js"></script>
    <script src="static/brushes/brushes.js"></script>
    <script src="static/layers/layers.js"></script>
    <script src="static/canvas/canvas.js"></script>
    <script src="static/zoom/zoom.js"></script>
    <script src="static/fill/aoFill.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        //var socket = io.connect();
        socket.on('connect', function() {
            //ocket.emit('con', {data: 'I\'m connected!'});
        });

        var sync = false;

        socket.on('update IMG', function(msg) {
                if(sync)
                {

                var send = new Image();
                send.src = msg["data"];
                  send.onload = function() {
                    ctx.drawImage(send, 0, 0);
                  };
                }

            });
    </script>

</html>
