<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/aoCanvas.css">
	<script src="static/aoCanvas.js"></script>
	<script src="static/brushes.js"></script>
	<title></title>
</head>
<body>
	<canvas id = "canvas" width="500" height="500"> </canvas>
	<script>
		el = document.getElementById("canvas");
		bPencil = new Brush(el, pencil);
		bPen = new Brush(el, pen);
		bHorizontalBar = new Brush(el, horizontalBar);
		bVerticalBar = new Brush(el, verticalBar);
		bBubbles = new Brush(el, bubbles);
		bClouds = new Brush(el, clouds);
		//brush1 = new Brush(el, "brush1.png");
	</script>

	<div>
		<button onclick="bPencil.assign();"> <img src = "static/pixel.png"></button>
		<button onclick="bPen.assign();"> <img src = "static/pen.png"></button>
		<button onclick="bHorizontalBar.assign();"> <img src = "static/horizontal_bar.png"></button>
		<button onclick="bVerticalBar.assign();"> <img src = "static/vertical_bar.png"></button>
		<button onclick="bBubbles.assign(); bBubbles.setColor('blue');"> <img src = "static/bubble.png"></button>
		<button onclick="bClouds.assign();"> <img src = "static/cloud.png"></button>
	</div>
	<!--<div><input type="text" name="" onmouseover="brush1"></div>
	-->
</body>
</html>
