body{
  width: 260px;
  margin: 0;
  padding: 0;
}

.layer{
  position: relative;
  padding: 28px;
}

.layer:hover{
  background: #BBDEFB;
}

.canvasHolder{
  width: 70px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 1px solid black;
  display: none;
}

.selected{
  background: #64B5F6 !important;
}

span{
  margin-left: 70px;
}

input{
  float: right;
}

.content{
  height: 300px;
  overflow-y: scroll;
}

.rotate180 {
-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
-moz-transform: rotate(180deg);        /* FF */
-o-transform: rotate(180deg);          /* Opera */
-ms-transform: rotate(180deg);         /* IE9 */
transform: rotate(180deg);             /* W3C compliant browsers */

  /* IE8 and below */
filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}
